<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/navbar.css">
        <link rel="stylesheet" href="../static/css/footer.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    <a class="navbar-brand" href="/"><img src="../static/assets/images/health-logo.png" alt="HEALTH" style="height: 40px;"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/airquality">AQI</a></li>
        <li><a href="/forecast">Forecast</a></li>
        <li><a href="/riskassessment">Risks</a></li>
        <li><a href="/access">Accessibility</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if session.user_id %}
        <li class="active"><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        {% else %}
        <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-12 text-left"> 
      {% block content %}{% endblock %}
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Health Advice</p>
  <div class="footer-links">
    <a href="/privacyandcookies">Privacy Policy</a> |
    <a href="/terms">Terms and Conditions</a> |
    <a href="/contact-us">Contact Us</a>
  </div>
</footer>

</body>
</html>
