footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 20px;
    margin-top: auto;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }